/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'lato', sans-serif;
  line-height: 1.7;
  font-weight: 400;
  color: #777;

  padding: 30px;
}

.header {
  height: 95vh;
  padding: 45px;

  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;

  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo {
  height: 35px;
}

.text-box {
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -70%);
}
.heading-primary {
  color: #fff;

  font-size: 64px;
  font-weight: 500;
  letter-spacing: 30px;

  text-transform: uppercase;

  animation: toRight 1s ease-out;
}
.heading-secondary {
  color: #fff;

  font-size: 19px;
  font-weight: 700;
  letter-spacing: 18px;

  text-transform: uppercase;

  margin-bottom: 50px;

  animation: toLeft 1s ease-out;
}
.btn-tours {
  display: inline-block;

  text-decoration: none;
  color: inherit;
  font-size: 18px;

  text-transform: uppercase;

  padding: 15px 40px;
  border-radius: 90px;

  background-color: #fff;

  animation: toUp 1s 0.75s;
  animation-fill-mode: backwards;
}

@keyframes toRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes toLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes toUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
