/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'lato', sans-serif;
  line-height: 1.7;
  font-weight: 400;
  color: #777;

  padding: 3rem;
}

.header {
  height: 95vh;
  padding: 4.5rem;

  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;

  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo {
  height: 3.5rem;
}

.text-box {
  text-align: center;

  position: absolute;
  top: 40%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #fff;

  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;

  text-transform: uppercase;

  animation: toRight 1s ease-out;
}

.heading-secondary {
  color: #fff;

  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;

  text-transform: uppercase;

  margin-bottom: 6rem;

  animation: toLeft 1s ease-out;
}

.btn-tours {
  display: inline-block;

  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;

  text-transform: uppercase;

  padding: 1.5rem 4rem;
  border-radius: 9rem;

  background-color: #fff;
  position: relative;

  animation: toUp 1s 0.75s;
  animation-fill-mode: backwards;

  transition: all 0.4s;
}
.btn-tours:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn-tours:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn-tours::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;

  background-color: #fff;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;

  transition: all 0.4s;
}
.btn-tours:hover::after {
  transform: scaleX(1.4) scaley(1.6);
  opacity: 0;
}

@keyframes toRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes toLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes toUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
