body {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;

  padding: 3rem;
}

.header-primary {
  color: $color-white;
  text-transform: uppercase;

  /* to prevent the shake on animation end */
  backface-visibility: hidden;

  margin-bottom: 6rem;
}

.header-primary--main {
  display: block;

  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;

  animation: toRight 1s ease-out;
}
.header-primary--sub {
  display: block;

  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;

  animation: toLeft 1s ease-out;
}
